#verse-cnt h2 {
    /* text-align: left; */
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    width: max-content;
    margin-left: 20px;
    margin-bottom: 1rem;
    /* margin: 0 auto; */
}

#verse-cnt h2::before {
    content: '';
    position: absolute;
    left: -20px;
    height: 35px;
    width: 7px;
    background: #0080FF;
}
  
#verse-cnt h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
  
#verse-cnt h3:nth-child(n+2) {
    margin-top: 0.5rem;
}